<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
<![CDATA[
   wueasy - A Java Distributed Rapid Development Platform.
   Copyright (C) 2017-2018 wueasy.com
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published
   by the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <https://www.gnu.org/licenses/>.
]]>
-->
<mapper namespace="com.wueasy.auto.mapper.TableMapper">
  <resultMap id="BaseResultMap" type="com.wueasy.auto.entity.TableEntity">
    <result column="column_name" property="columnName" />
    <result column="data_type" property="dataType" />
    <result column="column_type" property="columnType" />
    <result column="column_comment" property="columnComment" />
    <result column="column_key" property="columnKey" />
    <result column="extra" property="extra" />
  </resultMap>
  
  
  <select id="query" resultMap="BaseResultMap">
    select t.column_name,t.data_type,t.column_type,t.column_comment,t.column_key,t.extra from information_schema.columns t
	where TABLE_SCHEMA = (select database()) and 
	table_name = #{tableName}
  </select>
  
</mapper>